<script>
	import { frame } from '../../_stores/props.js';

	let sun = [0,0,0,0]
	
	$: $frame%2 === 0 ? sun = [ 2, -2, -2, -2 ]: sun = [ -2, 2, 2, 2 ];
</script>
<svg viewBox="0 0 290 522" >
    <rect
        id="background"
       	width='290'
       	height='522'
       	x='0'
       	y='0'
       	rx='0'
       	ry='0'
		fill='var( --focal )'
       					 />
    <path
       style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#411a35;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2.01593852;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 260.88769,423.18315 c -1.83518,-0.004 -3.37306,0.14908 -4.81353,0.44876 13.31358,1.22483 9.76031,3.27848 21.4944,1.69044 -7.91678,-1.44869 -12.93512,-2.12917 -16.68087,-2.1392 z m 16.68087,2.1392 c 2.92087,0.53446 6.206,1.16629 10.01064,1.91795 l -10.6248,8.67075 c -9.04821,0.39288 -7.06052,2.07695 2.44249,2.75846 6.91679,0.49602 -4.06497,-2.26951 8.11083,-4.05401 l 1.80523,1.97396 c 0.0117,-0.0227 0.0276,-0.0386 0.0379,-0.0602 l -0.43763,-13.00722 c -4.93235,0.84588 -8.56295,1.42386 -11.34459,1.80031 z m 11.74439,11.26711 c -0.0898,0.15475 -0.1984,0.30914 -0.32572,0.46283 l 0.4403,-0.33714 z m -0.32572,0.46283 -2.37469,1.81807 c 1.05382,-0.59036 1.86213,-1.19948 2.37469,-1.81807 z m -2.37469,1.81807 c -9.31239,5.21617 -37.6114,8.93497 -47.01801,4.20884 -9.68376,-4.92872 15.69045,-6.01347 10.15406,-6.21621 -1.82757,-0.067 -8.90462,-2.18755 -15.32014,0.35682 -2.28586,0.90653 -6.23136,2.31139 -10.49766,3.67059 6.90617,0.44948 13.31332,1.45723 14.96288,2.81287 1.34452,1.10488 14.31001,1.92813 23.71364,2.66481 l 5.38306,-1.25317 7.75306,2.07748 z m -24.00523,7.49756 -17.44584,4.06026 c -1.2225,0.91746 -3.20416,1.89127 -5.72509,2.89343 -0.21103,0.24367 -0.47628,0.49621 -0.81747,0.761 -4.01679,3.1174 30.12898,-5.51056 33.2656,-6.24648 2.08193,-0.48853 -2.76558,-0.95803 -9.2772,-1.46821 z m -23.17093,6.95369 c 3.25303,-3.75354 -8.27493,-5.05083 -14.12275,-6.08753 -4.60063,2.27841 -11.70403,5.24592 -7.53611,4.51269 29.8723,-5.25492 12.26671,3.56476 1.16897,7.77901 8.05084,-2.03835 15.39658,-4.17937 20.48989,-6.20417 z m -20.48989,6.20417 c -1.42666,0.36098 -2.87013,0.7198 -4.33177,1.07325 -4.47898,1.08301 -9.02127,2.0944 -13.01105,2.82229 3.64635,-0.28341 7.67461,-0.94925 12.03017,-2.10207 1.26861,-0.33563 3.17105,-0.98021 5.31265,-1.79347 z m -17.34282,3.89554 c -4.77385,0.3712 -8.88773,0.0836 -12.22459,-0.62717 -1.10501,2.36547 4.51087,2.03435 12.22459,0.62717 z m -12.22461,-0.62717 c 0.22896,-0.49016 0.74307,-1.0947 1.5898,-1.83058 1.5637,-1.35897 18.77793,-1.95349 22.02454,-4.13919 -13.84062,-2.33909 -24.18111,-1.20598 -32.92937,0.6982 1.07279,2.19357 4.31989,4.20774 9.31503,5.27157 z m -9.31503,-5.27157 c -0.58999,-1.20644 -0.51845,-2.46548 0.27531,-3.64971 -4.97272,2.38973 -11.14209,4.95483 -18.68521,7.64045 -0.15274,0.23044 -0.31028,0.45516 -0.4723,0.67417 5.91964,-1.13201 11.89356,-3.14377 18.88221,-4.66491 z m -18.88221,4.66491 c -0.92709,0.17708 -1.85303,0.33373 -2.78139,0.46288 1.11225,-0.381 2.19596,-0.76052 3.25369,-1.13705 0.66285,-1.00052 1.23753,-2.10896 1.70224,-3.33228 1.12176,-1.84379 1.52708,-3.43342 1.37808,-4.80714 -1.3282,1.49072 -2.6309,3.09469 -3.89255,4.81921 -1.24195,1.85344 -8.91418,3.0572 -15.16831,4.20979 1.6147,-1.67196 3.47077,-3.60036 5.39305,-5.59846 -7.87563,5.48396 -31.40431,17.53217 -37.27689,11.89054 -8.11896,-7.79967 -18.315914,-12.29893 -21.947264,-6.19525 0.937959,-0.33033 1.955847,-0.37309 3.076631,0.003 10.423643,3.4915 13.821343,15.041 26.621603,10.31048 16.16338,-4.59756 -4.58214,19.08433 19.24576,-5.37306 6.39273,2.7263 15.46902,1.40759 20.39535,-5.25178 z m -69.339344,0.31254 c -5.226982,1.84262 -7.958803,12.68238 -12.012873,10.62692 -6.575086,-3.33371 -9.804666,-6.59236 -7.230834,-9.68281 -7.386793,5.83378 -16.523372,-5.61556 -19.247878,2.2087 -4.475318,-0.79139 29.611252,5.55707 13.331035,11.76507 -0.62007,1.31291 -2.364779,2.38734 -4.723186,3.23586 15.690862,-2.80897 13.180317,-0.0303 28.933821,-6.99333 -0.819824,-5.34453 -0.366046,-8.94852 0.949915,-11.16041 z M 61.95874,480.65377 c -0.0985,0.0151 -0.189116,0.0341 -0.288973,0.0503 -5.702693,1.01358 -15.885459,0.26979 -25.45894,0.67261 -0.173182,2.45988 17.008781,2.42121 25.747902,-0.72332 z m -25.747902,0.72344 c 0.02535,-0.35796 0.411461,-0.76816 1.251989,-1.23021 4.837157,-2.65902 10.662736,-6.00775 11.425489,-11.51082 0.339601,-2.45027 -1.270396,-4.32248 -4.376464,-4.87931 1.758483,1.26536 1.727657,4.5374 2.410986,7.85481 l -10.094672,8.33762 c -19.776631,-1.83785 -52.934494,12.36226 -24.618866,9.42392 8.115403,-0.34357 -0.155555,-3.00516 10.884322,-6.21197 3.815283,-1.10825 8.39251,-1.58517 13.117216,-1.78404 z m 8.301014,-17.62034 c -0.992593,-0.71423 -2.555547,-0.7887 -5.140307,0.12979 1.996511,-0.36363 3.723919,-0.38402 5.140307,-0.12979 z m -5.140307,0.12979 c -4.684827,0.85348 -10.848325,3.59968 -17.939687,9.14615 1.375562,-0.14076 2.660229,-0.41493 3.771176,-1.15698 6.642092,-4.43588 11.116652,-6.90423 14.168511,-7.98917 z m -17.939691,9.14615 c -2.994679,0.30574 -6.422023,-0.0227 -9.439536,2.44724 -5.1105031,4.18383 -8.2970353,-5.04821 -2.1398784,-7.09115 11.4866074,-3.81146 39.5057414,-17.10985 63.2249624,-21.74233 -2.424465,0.17405 0.03546,-5.80646 -6.993888,-4.3333 -4.763956,0.99845 -19.494132,9.35014 -21.46447,10.22936 -13.806304,6.16058 -30.81183,14.73204 -41.3277267,-4.7457 L 37.264218,441.5136 10.70197,443.65275 c 4.770282,-0.86139 9.381036,-1.74174 13.93679,-2.611 -6.208016,0.19146 -15.9140258,0.38202 -23.4356032,0.35076 l 0.034805,25.64575 c 3.3355089,-1.10825 7.3418809,-1.98807 9.6520882,-2.86876 -2.4066244,1.2005 -6.0279104,2.83134 -9.5571638,4.76776 l -0.1103649,6.34516 c -0.006,-1.82729 8.9827417,7.19259 17.7905167,-0.27849 0.817475,-0.69347 1.623867,-1.34958 2.418858,-1.97135 z m 3.206906,-31.99106 c 28.862869,-0.88841 44.611736,-3.74411 57.172594,-4.52207 17.974335,-1.11324 22.124216,-2.26644 21.861616,-3.19935 -33.126492,-1.00064 -55.237308,3.181 -79.03421,7.72142 z m 79.03422,-7.72142 c 1.97644,0.0598 3.97951,0.1313 6.03718,0.22968 h 0.043 0.0435 c 36.53505,-0.60084 81.30137,-2.33142 94.35332,-5.24024 13.00916,-2.89945 -6.94321,4.45486 24.25688,4.42221 l 14.9576,-4.07603 c 5.89706,-2.49548 8.97513,-4.24857 12.70953,-5.02472 -0.91001,-0.0844 -1.88026,-0.16459 -2.95845,-0.23914 l -30.22836,5.29095 c -6.8483,2.75172 -3.12215,-4.74482 -9.22412,-4.05719 -7.39244,0.83317 -22.89205,-0.43548 -35.92772,2.46976 -13.03227,2.90455 -31.58679,4.03293 -67.96023,4.63248 -19.545127,-0.92867 -6.54514,0.0151 -6.10231,1.59156 z m -31.074207,30.12332 c 0.400432,-0.31633 0.795412,-0.6837 1.184221,-1.10731 -0.481525,0.36666 -0.874804,0.73573 -1.184221,1.10731 z m 1.184221,-1.10731 c 3.400044,-2.58761 11.193463,-5.04601 24.897829,-7.31768 12.244787,-2.02965 -18.15207,-3.84272 -22.938661,4.57493 -0.629022,1.10617 -1.284592,2.00778 -1.959168,2.74275 z m 77.283646,-5.53209 c 1.50777,-1.0499 2.44953,-1.86229 2.57544,-2.2605 0.46452,-0.47363 0.76939,-0.94191 0.94988,-1.40437 -1.22671,1.27651 -2.4093,2.5049 -3.52532,3.66487 z m 3.52532,-3.66487 c 1.55801,-1.62127 3.23935,-3.37141 4.98535,-5.18943 -2.75349,-1.19403 -6.31973,-1.94573 -9.98383,-2.42367 2.48183,2.23516 6.09014,4.81615 4.99848,7.6131 z m -4.99848,-7.6131 c -0.57727,-0.51997 -1.09938,-1.02262 -1.48001,-1.50324 -3.73924,-4.72174 -25.48994,2.42741 -30.07024,2.78196 3.1579,1.25661 9.13848,2.30019 18.82444,2.94572 5.29355,0.35303 -12.20766,-5.15178 -4.56134,-5.06657 2.55902,0.0303 10.11054,-0.0946 17.28715,0.84213 z m -31.55025,1.27872 c -3.31651,-1.31966 -3.51349,-2.87436 -1.60239,-4.45147 -12.29375,0.86813 -39.892318,1.12993 -36.00283,1.11665 5.572617,-0.0151 48.19972,4.68788 32.89413,15.84723 8.1036,1.91515 0.9611,-12.33923 4.5372,-12.49777 0.0512,-0.003 0.11744,-0.008 0.17387,-0.0113 z m -1.60239,-4.45147 c 2.36218,-0.16686 4.16738,-0.35643 5.06675,-0.57011 2.40647,-0.57238 24.69755,-7.61604 21.70878,-7.19164 -11.91769,1.69224 -23.14614,4.76669 -26.77553,7.76175 z m 43.13647,5.59642 c 2.89984,1.25741 4.8946,3.0032 5.15713,5.42376 4.66607,-5.23673 9.64957,-9.05977 14.30089,-11.67293 0.67995,-3.58549 -26.52578,-6.15438 -22.46846,-5.67644 22.48253,2.64857 1.32031,16.28709 5.46344,9.37167 -0.9066,0.94407 -1.5938,1.65929 -2.453,2.55394 z m 19.45802,-6.24917 c -0.0512,0.2713 -0.25517,0.54707 -0.64988,0.82851 -14.83914,10.57906 13.65818,-3.13188 18.83861,-4.28463 -2.30662,-2.05444 -9.6914,-1.31772 -18.18873,3.45612 z m 18.18873,-3.45612 c 0.18134,0.16157 0.33156,0.33979 0.44816,0.53553 0.60031,-0.58472 0.36729,-0.71704 -0.44816,-0.53553 z m 0.44816,0.53553 c -0.48973,0.47703 -1.52749,1.25154 -3.27368,2.4122 -0.77555,0.51554 0.58247,0.62406 3.03937,0.52883 0.63791,-1.20149 0.68053,-2.1932 0.2343,-2.94103 z m -0.23431,2.94103 c -1.10717,2.08512 -4.0214,4.8037 -9.28458,7.97565 3.30207,-0.79937 7.61635,-1.28412 13.05627,-1.27099 2.98901,0.008 24.98416,-3.96887 22.22575,-7.37679 -7.60817,2.40282 -16.08275,4.59302 -18.03898,3.52416 -6.43039,-3.51356 6.2129,-4.41718 17.84566,-3.72603 -0.14731,-0.13243 -0.32926,-0.26487 -0.55795,-0.39503 -1.76146,-1.004 -18.15345,0.99386 -25.24617,1.26891 z m 25.80412,-0.874 c 0.0744,0.067 0.13864,0.13433 0.19334,0.20168 0.16708,-0.053 0.32927,-0.10632 0.49543,-0.15892 -0.22936,-0.0151 -0.45837,-0.0303 -0.68874,-0.0428 z m -35.0887,8.84965 c -4.16041,1.00719 -6.70158,2.51618 -7.81398,4.17581 3.04386,-1.46279 5.62633,-2.85736 7.81398,-4.17581 z m 37.16029,-2.46297 c 3.39677,-1.68226 5.43667,-2.99094 0.53061,-2.1465 -5.59467,0.96295 -4.14824,1.50517 -0.53061,2.1465 z"
	   				/>
    <g
       id="g1019"
       transform="matrix(1.0081467,0,0,1.1721027,-183.994,252.13646)"
       style="display:inline">
      <g
         id="g990"
         transform="matrix(-0.65423207,-1.2384805,-1.2138935,0.96142558,570.69996,221.43246)"
         style="display:inline">
        <path
           id="path1000"
           d="m 244.11325,153.95692 c 0.32761,0.39746 -0.027,0.81153 -1.40127,1.12768 -3.00798,0.69196 -10.82711,-1.55943 -8.01602,0.99924 1.56687,1.42617 -1.1874,0.98364 -4.14397,-0.25979 0.44545,-0.56831 1.13844,-1.99 1.55998,-2.69302 4.15222,-2.20691 11.01846,-0.36646 12.00128,0.82584 z m -13.56126,1.86713 c -5.56817,7.1036 -12.80766,4.49146 -16.85061,12.13101 -4.43217,8.37495 -14.967,11.09986 -19.7242,18.89022 -1.52956,9.95658 -13.12601,16.26915 -12.80907,26.40011 0.0762,2.435 0.39948,5.93835 -0.49002,8.18199 l -10.88326,6.07575 -13.74443,-17.81797 c 2.03467,-3.65863 11.06195,-26.67402 8.8965,-19.08806 -2.56764,8.99489 11.93631,-11.41096 14.79997,-13.39996 4.16749,-2.89457 13.37846,-17.27556 19.41185,-19.02544 1.94638,-0.56451 10.81443,-5.3357 17.95377,-8.17496 2.91088,-1.15764 1.40039,-9.01311 3.15019,-9.11235 2.18519,-0.12391 6.9713,7.84086 4.82585,10.60829 0.22337,1.59914 2.91812,3.26089 5.46346,4.33137 z"
           style="fill:#411a35;fill-opacity:1;stroke:#2c001e;stroke-width:0.46643493;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           sodipodi:nodetypes="ccsccccsccscccsscsccs" />
        <path
           style="fill:#333333;fill-opacity:1;stroke:#2c001e;stroke-width:0.61760026;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           d="m 310.025,151.21791 -13.59663,7.74016 c -5.82449,-11.57076 -2.64734,2.19072 -5.37093,0.5404 -8.23206,-11.46317 -17.54697,-7.31842 -27.88048,-7.4835 8.37078,2.25819 15.8187,7.46643 20.55981,13.57718 l -17.02575,9.17609 c -1.22339,-3.18498 -3.27549,-5.72254 -4.90081,-1.51496 -4.45746,11.53932 -3.36389,-27.73097 -8.14291,-8.29199 -0.81491,3.31476 -10.47126,-15.32605 -21.98675,-9.33299 -0.67589,0.35175 5.72983,4.15642 5.07736,4.66979 -1.87045,1.4717 -5.71688,-4.75179 -5.33602,-2.65478 1.52316,8.38625 0.0901,1.46169 -2.51393,-0.46591 -0.87693,-0.64915 -0.62676,1.63603 -0.69424,1.7039 -2.57593,5.0029 4.13501,5.49798 1.33111,5.38065 -7.53727,-0.31535 1.11592,-0.76018 -5.85468,-2.66554 1.21147,-0.88335 1.89681,-1.35379 2.2778,-1.59846 -0.0628,-0.0311 -0.001,-0.20761 0.4009,-0.7157 -0.61604,-2.86373 -4.476,1.02559 -7.22234,2.57024 4.07066,-5.62264 0.43824,-3.08565 2.85433,-5.95251 5.70452,1.65961 2.5803,-0.88679 4.05891,-0.31063 -1.15092,-2.10963 -3.92094,-2.62828 -5.56339,-2.0374 1.04811,-1.65929 2.3633,-3.81117 2.49595,-2.84092 0.10187,0.74509 1.15746,0.83063 2.37907,0.89785 1.26617,0.0696 2.71069,0.11967 3.45652,0.86388 -0.24622,-1.13049 -6.40119,-3.30066 -5.89541,-4.15037 2.75018,-4.62025 -6.20905,-15.38844 -14.85201,-20.63196 -3.67539,-2.21304 15.90164,-6.50671 -11.86347,-5.16547 -5.67654,0.27418 19.83624,-8.41427 -16.73545,0.52907 -4.51453,1.10397 18.77919,-15.14105 -13.13847,2.33748 -10.71716,5.86886 -21.91787,2.55894 -31.61357,10.26231 2.09151,-3.58689 4.65647,-7.02593 7.6352,-10.23703 19.79396,-21.21804 53.03327,-28.041033 74.24193,-15.23942 7.94063,4.81074 13.37836,11.97027 15.56278,20.48979 -0.0372,-3.99143 -0.58898,-7.8739 -1.64371,-11.56467 -1.04156,-3.5245 16.63948,0.57836 -4.34857,-9.73843 -4.70497,-2.31275 17.66752,-3.82545 -13.21233,-7.60418 -4.96481,-0.60754 20.6538,-6.249431 -12.91081,-4.101362 -10.48876,0.671246 -15.05266,-8.690111 -26.11463,-5.90398 3.759,-2.53856 7.75588,-4.703984 11.89789,-6.445514 16.40565,-6.845805 33.73561,-6.517987 46.3119,0.876225 7.67736,4.513702 13.09632,11.385122 15.54689,19.713231 3.76917,12.87727 0.11118,28.02146 -9.89452,40.96331 19.95585,-13.01512 44.97769,-14.99009 61.78273,-4.87633 1.40885,-0.24299 6.50904,11.33995 10.44073,9.23245 z m -89.52859,2.33362 c -0.82226,1.30173 -1.48413,2.30798 -1.25513,1.21557 0.11803,-0.56353 0.59611,-0.97851 1.25513,-1.21557 z"
           id="path1168"
           inkscape:connector-curvature="0" />
        <path
           id="path986"
           d="m 317.86239,147.55685 -15.16879,7.96919 c -6.1369,-12.37595 -3.11384,2.36844 -6.05107,0.62689 -8.76147,-12.23017 -18.98293,-7.65478 -30.23654,-7.70349 9.07795,2.3251 17.40853,8.012 22.46337,14.52722 l -18.7115,10.08462 c -1.27545,-3.41135 -3.77618,-6.29226 -5.62229,-1.74519 -5.06296,12.47038 -3.16615,-29.79288 -8.72132,-8.81951 -0.94726,3.57641 -11.13128,-16.35819 -23.78311,-9.76681 -0.74258,0.38687 6.16699,4.40028 5.44701,4.96074 -2.06397,1.60669 -6.14219,-5.04098 -5.76498,-2.78963 1.50855,9.00349 0.0719,1.57146 -2.73012,-0.4699 -0.9436,-0.68746 -0.71214,1.76796 -0.78687,1.84183 -2.89592,5.41458 4.40561,5.86352 1.35334,5.77227 -8.20489,-0.24527 1.22927,-0.83179 -6.32976,-2.79475 1.33554,-0.96547 2.09056,-1.48016 2.50998,-1.74814 -0.0679,-0.0326 0.002,-0.22335 0.44957,-0.775 -0.61962,-3.07331 -4.89426,1.15923 -7.91367,2.85533 4.5353,-6.09999 0.53282,-3.32522 3.21624,-6.43972 6.18428,1.71436 2.82672,-0.98625 4.42706,-0.38482 -1.21582,-2.25533 -4.22396,-2.77878 -6.02375,-2.12259 1.17156,-1.79825 2.64288,-4.12979 2.76995,-3.08758 0.0976,0.80034 1.24593,0.87921 2.57546,0.93629 1.37802,0.0591 2.95068,0.0949 3.74976,0.8863 -0.2479,-1.21318 -6.91369,-3.47123 -6.34746,-4.39171 3.07886,-5.00508 -6.48722,-16.47847 -15.80803,-22.012 -3.96395,-2.33509 17.439,-7.1987 -12.83041,-5.40938 -6.18854,0.36579 21.75934,-9.30006 -18.2399,0.77795 -4.93764,1.24405 20.72872,-16.524 -14.35411,2.67871 -11.77995,6.44779 -23.92173,3.02647 -34.62193,11.43521 2.34279,-3.8851 5.19866,-7.61705 8.50117,-11.10893 21.94332,-23.074691 58.27443,-30.82993 81.14761,-17.32164 8.56352,5.07667 14.35837,12.71155 16.58485,21.85018 0.0312,-4.29378 -0.50012,-8.46392 -1.58276,-12.42155 -1.07128,-3.7789 18.11546,0.41469 -4.56206,-10.42302 -5.08371,-2.42952 19.31446,-4.336047 -14.25594,-8.016285 -5.39739,-0.591699 22.61105,-6.981179 -13.99043,-4.251478 -11.43775,0.853002 -16.24115,-9.16165 -28.34132,-6.026162 4.14039,-2.778041 8.53321,-5.157605 13.07651,-7.082926 17.99412,-7.569812 36.86625,-7.433287 50.43311,0.365037 8.28207,4.760383 14.06164,12.085527 16.58149,21.014895 3.87451,13.807229 -0.38234,30.145999 -11.51434,44.194509 21.9723,-14.25146 49.26479,-16.68837 67.38928,-6.01692 6.36384,4.4656 9.04053,6.41365 11.6167,10.35196 z m -97.97713,3.07809 c -0.9191,1.41075 -1.65817,2.5016 -1.38909,1.32345 0.1387,-0.60775 0.66694,-1.06018 1.38909,-1.32345 z"
           style="fill:#5c5c5c;fill-opacity:1;stroke:#2c001e;stroke-width:0.66853583;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           sodipodi:nodetypes="ccccccccssssccccccccccscscccsccccccsccccccccccc" />
      </g>
      <g
         style="display:inline;fill:#333333"
         transform="matrix(-0.85548513,-0.31023409,-0.31023409,0.85548513,249.40266,-174.48674)"
         id="g1142">
        <path
           d="m -56.333013,368.89316 c 1.472382,-4.06016 -0.52454,-8.5086 -4.460254,-9.93585 -3.935714,-1.42725 -14.143759,5.7196 -10.037847,6.83045 2.79498,0.75619 6.715796,4.1209 4.242729,4.59597 -3.941551,0.75717 7.048356,6.177 4.151037,13.83332 z"
           style="fill:#411a35;fill-opacity:1;stroke:none;stroke-width:1.81380665;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke" />
        <path
           style="fill:#333333;fill-opacity:1;stroke:#2c001e;stroke-width:0.42494017;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           d="m -53.42431,360.48186 c -1.17554,3.22065 -3.0178,7.93848 -4.409256,11.67949 -1.770314,-1.51337 -3.325466,-3.16811 -4.087607,-6.3235 2.603666,-0.31533 5.578312,-1.1052 6.427943,-2.42932 -0.18459,-2.33742 -0.01217,-3.61892 2.06892,-2.92667 z m -8.496857,5.35595 c -3.024597,0.36633 -5.546742,0.0904 -3.627201,-0.76458 3.443634,-1.5338 -4.127389,-1.458 -6.396743,-2.77102 -4.147519,-2.39969 6.210313,-2.26171 9.698452,1.59258 0.06795,0.70629 0.181563,1.34713 0.325492,1.94302 z"
           id="path1136"
           					/>
        <path
           style="fill:#333333;fill-opacity:1;stroke:#2c001e;stroke-width:0.60561347;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           d="m -38.951363,313.04207 -16.024355,44.18791 c -0.726997,0.4809 -1.442771,0.97952 -2.147767,1.4949 0.649509,-0.13145 1.160897,-0.0818 1.596314,0.0257 l -0.723199,1.99425 c -0.856652,-0.0691 -1.805356,0.0594 -2.75385,0.4817 0.118779,0.21009 -6.891036,0.63223 1.84766,2.01717 l -1.767205,4.87314 c -0.584843,-2.56195 -0.898784,-5.78856 -3.151421,-4.13505 -0.08522,0.59357 -0.174229,0.75999 -0.245918,0.7524 0.101247,0.3694 0.259134,1.05298 0.504098,2.3388 -6.757036,-1.8152 -0.526516,2.64615 -6.493203,-0.68759 -2.219652,-1.24017 3.257168,1.55951 5.141762,-3.59528 0.169103,-16.83723 -26.141539,-3.99128 -23.999745,-7.3181 11.29476,-17.54405 -16.621398,19.43647 -11.147436,8.25195 3.816237,-7.79749 -8.872362,1.92002 -12.488652,4.1082 -1.74766,-10.85006 -9.51141,17.55013 -10.31891,6.39382 -0.54375,-7.51224 -3.60402,-9.7449 -6.46663,4.69152 -2.44547,12.33224 -16.61647,19.74679 -17.01836,27.29612 -3.83878,-20.63461 5.0238,-48.35328 23.71385,-59.70865 11.36896,-6.89929 24.532979,-8.96686 36.443611,-5.72355 -7.975071,-4.78051 -10.271444,-9.97295 -25.324621,-4.87798 -3.88693,0.003 15.09237,-13.16384 -12.43952,1.18825 -4.06398,2.1185 7.50577,-12.39797 -11.42277,5.5572 -4.29742,4.07644 -11.2797,0.91627 -16.04652,9.89024 6.6615,-20.38163 24.22536,-36.95131 45.28212,-36.93795 20.528357,0.039 38.016039,13.48033 43.180093,33.18881 2.233584,-14.26327 10.419212,-27.3482 22.270572,-35.74799 z"
           				/>
      </g>
      <g
         transform="matrix(-0.94009355,-0.34091658,-0.34091658,0.94009355,253.88342,-221.87315)"
         style="display:inline;fill:#5c5c5c">
        <path
           transform="matrix(-0.24873309,-0.09020085,-0.09020085,0.24873309,255.3513,293.89656)"
           d="m 1023.7871,684.10547 c -0.037,-4.9e-4 -0.08,0.002 -0.1172,0.002 v 47.17774 c 8.2401,-3.09611 16.6326,-6.97176 23.4063,-17.20118 -8.8448,-4.47525 -18.3963,-11.11456 -19.709,-16.91406 6.1475,-9.41025 3.6418,-12.96889 -3.5801,-13.06445 z m 23.2891,29.97851 c 10.2747,5.19883 19.5917,7.4682 13.873,1.95704 -10.2593,-9.8869 16.5437,0.13773 26.2988,-1.60352 17.8286,-3.18227 -19.1517,-16.03811 -36.5117,-6.83789 -1.1515,2.42198 -2.3809,4.55257 -3.6601,6.48437 z"
           style="fill:#5c5c5c;fill-opacity:1;stroke:#2c001e;stroke-width:1.60607302;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke" />
        <path
           transform="matrix(-0.94009355,-0.34091659,-0.34091658,0.94009355,0,0)"
           style="fill:#411a35;fill-opacity:1;stroke:none;stroke-width:1.81380665;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           d="m -69.916795,366.23569 c -1e-6,-4.31889 3.393837,-7.82005 7.58035,-7.82005 4.186513,0 11.346551,10.1988 7.107902,9.84333 -2.885339,-0.24197 -7.718358,1.5845 -5.555403,2.87422 3.447295,2.05555 -8.731957,3.40406 -8.618372,11.58946 -0.529588,-5.56418 -1.02419,-11.12167 -0.514477,-16.48696 z"
           				/>
        <path
           id="path932"
           d="m -41.979253,321.08726 -17.437128,48.81755 c -0.750814,0.54712 -2.19643,0.85731 -2.926108,1.44127 3.737969,0.71189 -0.765016,2.18553 -1.983021,2.78472 0.113335,0.22491 -6.401839,1.12448 2.391409,2.34981 l -1.746427,5.5497 c -0.508636,-2.7706 -1.508246,-6.67343 -3.839967,-4.80021 -0.105385,0.64905 -0.200788,0.83313 -0.273047,0.82719 0.09045,0.39893 0.228026,1.13812 0.43419,2.53023 -6.775146,-1.7579 -0.61808,2.89821 -6.544781,-0.53867 -2.204778,-1.27854 3.24376,1.59269 5.316488,-4.0809 0.715556,-18.33821 -26.309639,-3.50036 -24.035904,-7.19194 11.99055,-19.46762 -18.677201,15.64219 -12.779301,3.28721 4.1118,-8.6135 -9.03531,2.3775 -12.76348,4.87699 -1.41663,-11.75726 -10.18713,19.41656 -10.643,7.29545 -0.30698,-8.1619 -3.32983,-10.4939 -6.69187,5.31736 -2.87211,13.5067 -17.444,22.03812 -18.09461,30.27099 -3.21508,-22.34326 7.88296,-46.75235 27.15273,-59.72077 11.72133,-7.87978 21.33315,-11.92342 37.043002,-7.41054 -7.911127,-4.9472 -11.599512,-13.18625 -26.988582,-7.1519 -3.93122,0.12897 16.63001,-14.83074 -11.67902,1.68653 -4.17869,2.4381 7.05171,-13.73236 -12.6727,6.42978 -4.47811,4.5775 -11.43756,1.36245 -16.5488,11.28767 7.39639,-22.4074 27.22963,-38.35718 48.52534,-39.02362 20.760457,-0.62144 36.534663,11.65191 41.120034,32.94391 5.043505,-17.26734 13.240755,-27.90069 25.664553,-37.77781 z"
           style="fill:#5c5c5c;fill-opacity:1;stroke:#2c001e;stroke-width:0.63521707;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
           			/>
      </g>
    </g>
    <g
       id="Sun"
       transform="matrix(1.633,0,0,1.172,-141.334,407.261)"
       				>
      <ellipse
         cx="220"
         cy="-250"
         rx="35"
         ry="33" 
		 fill='var( --secondary )'
		 opacity="0.25" 
		 transform="translate({ sun[3], sun[2]})"
		 					/>
      <ellipse
         cx='221'
         cy='-252'
         rx='26'
         ry='25'
		 fill='var( --secondary )'
		 opacity="0.50" 
		 transform="translate({ sun[0], sun[1]})"
		 					/>
    </g>
	<g
		id="cloudTop"
		opacity="0.50"
		transform="matrix(1.0083723,0,0,1.0121217,-228.23417,269.09072)">
    	<ellipse
			cx="356"
			cy="148"
			rx="40"
			ry="17" 
			fill='var( --alternative )'
			transform="matrix(0.96895478,-0.24723803,-0.2987764,-0.95432314,0,0)"
		 				/>
		<ellipse
			cx="356"
			cy="145"
			rx="40"
			ry="15"
			fill='var( --secondary )'
			transform="matrix(0.96895478,-0.24723803,-0.2987764,-0.95432314,0,0)"
		 					/>
      <ellipse
			cx="366"
			cy="131"
			rx="40"
			ry="17" 
			fill='var( --alternative )'
			transform="matrix(0.96895478,-0.24723803,-0.2987764,-0.95432314,0,0)"
						 />
		
		<ellipse
			cx="368"
			cy="128"
			rx="40"
			ry="15"
			fill='var( --secondary )'
			transform="matrix(0.96895478,-0.24723803,-0.2987764,-0.95432314,0,0)"
							 />
		<ellipse
			cx="402"
			cy="142"
			rx="40"
			ry="17"
			fill='var( --alternative )'
			transform="matrix(0.96895478,-0.24723803,-0.2987764,-0.95432314,0,0)"
		 				/>
		
      <ellipse
         cx="402"
         cy="140"
         rx="40"
         ry="15" 
		 fill='var( --secondary )'
         transform="matrix(0.96895478,-0.24723803,-0.2987764,-0.95432314,0,0)"
		 					/>
    </g>
    <g id="cloudBottom" opacity="0.50">
    	<ellipse
			cx="36"
			cy="147"
			rx="40"
			ry="17" 
			fill='var( --alternative )'
		 				/>
		<ellipse
			cx="42"
			cy="145"
			rx="40"
			ry="15"
			fill='var( --secondary )'
		 					/>
      <ellipse
			cx="23"
			cy="130"
			rx="40"
			ry="17" 
			fill='var( --alternative )'
						 />
		
		<ellipse
			cx="35"
			cy="128"
			rx="40"
			ry="15"
			fill='var( --secondary )'
							 />
      <ellipse
         cx="21"
         cy="124"
         rx="40"
         ry="15" 
		 fill='var( --secondary )'
		 					/>
    </g>
    <path
		fill="#2c001e"
       	opacity="0.69"
       	d="m 1.6366272,213.69792 c -0.1574049,15.76984 -0.4103081,31.18015 -0.5010185,47.3258 18.1597383,-4.60747 -1.04272117,6.16577 2.8067888,8.27038 12.0822605,-0.59879 15.8862265,2.88851 19.6380335,11.59994 -6.769168,-4.92017 -14.2127182,-7.43064 -21.9438038,-7.42776 v 10.20124 c -0.1076592,0 -0.2149325,-0.004 -0.3226731,-0.004 l -0.1783456,38.45005 c 8.4245745,-3.33974 7.8571595,0.87842 5.6854149,-1.80762 -3.1927911,4.85157 -0.1436341,5.23873 -0.9347621,6.70652 -8.1511058,14.14472 14.5192717,-5.45225 19.8695657,-6.77175 -1.109446,1.87527 -5.004429,1.72395 -2.205878,2.62337 -0.377227,2.73663 -0.02331,4.75591 -2.366067,7.35117 -2.604724,3.62727 11.658414,-0.97365 20.017327,6.58824 1.641781,3.20579 4.553957,5.02714 4.824905,6.70592 -2.563627,-1.04514 -5.337439,-2.2022 -5.451282,-1.30104 -0.192775,4.71399 5.938278,6.0227 1.684522,6.48013 -8.961818,-2.65452 -2.23837,4.22247 0.941774,4.04826 -10.58925,6.78416 -1.852659,4.25455 3.115427,3.76125 -0.31738,2.13469 -1.037577,0.68321 -2.050406,2.37232 -3.088431,0.8452 -5.292234,-3.20609 -3.791662,-0.16081 3.546722,9.85634 -5.64266,-3.26315 -2.733795,2.51792 5.409172,11.07004 4.539795,5.77577 8.147794,7.4528 2.351455,11.68118 1.330357,11.94173 -2.165738,19.84694 -0.08216,0.17746 -0.161162,0.35568 -0.240686,0.53386 -12.754987,1.01978 -22.60545,11.05536 -30.714076,24.55346 -0.189896,-3.84888 0.317486,-10.75909 -0.028,-14.18225 C 12.584064,385.50006 6.6631174,372.00321 0.37274147,360.43441 L 1.129397,416.28275 c 0.5138724,7.85435 -0.8584267,15.0147 -0.65841352,22.43939 0.45560487,-0.19827 0.91249122,-0.41289 1.36742482,-0.64677 l -1.31557746,11.93579 c 8.11050966,-5.08889 11.89576016,-7.43998 10.95024616,-8.17185 -2.0017371,-1.38269 3.258189,-0.85886 5.424049,-1.60953 1.955585,0.18995 1.793324,-1.9273 0.153375,-4.60494 0.981138,0.16233 4.424398,2.01932 3.050618,-0.38648 3.38168,-0.69926 -3.087718,-4.66154 -7.347556,-4.89311 -1.147072,-1.22552 0.200878,-1.88739 -0.882449,-2.11086 8.214159,-2.20367 20.545391,11.43753 19.825825,7.78056 -2.627638,-6.41777 0.79216,0.48944 1.610935,2.95677 -11.055439,13.55721 -11.21642,37.38323 -23.8509398,48.32372 -3.0567603,2.64687 -5.5613817,6.14303 -7.7393844,9.98219 l -0.8821643,23.89235 31.1180695,-0.004 c 3.162905,-7.11271 25.693793,-46.977 17.769507,-35.22503 -6.356939,9.42752 -2.839843,-5.65745 1.267242,-19.7727 0.497207,3.65962 2.768237,3.92381 4.420349,-0.35984 3.335145,-8.33251 2.007992,-3.1303 3.094116,0.91769 -0.09469,1.53049 -0.272072,3.33489 -0.55336,5.46005 -1.763289,13.32302 9.653343,27.40357 7.621128,35.15916 1.72433,-3.39501 2.998926,-8.04494 4.156694,-12.02959 2.394442,7.76883 1.97133,24.17175 4.39871,19.53314 11.975698,-22.88506 6.889348,-55.3032 -7.037674,-77.40576 -2.291492,-3.63283 -3.642427,-5.46091 -6.021021,-8.31037 0.521076,-1.82367 1.57243,-3.31423 2.076425,-5.15943 1.321102,1.58892 2.617668,5.6923 4.482689,8.04714 2.867355,3.62057 -3.775444,-19.19214 7.027901,5.82242 1.382651,7.10765 9.524604,5.04595 10.840507,15.8327 0.14128,-5.11288 1.000188,-6.81432 0.109629,-11.76968 3.339974,4.4725 8.940164,3.63464 10.187971,14.89574 0.660998,-26.33755 -12.263716,-52.34238 -30.660587,-62.72869 -0.325491,-7.15714 0.338016,-18.60239 -0.618637,-29.07777 -0.507623,-5.55846 10.373627,-11.53803 9.331923,-14.20348 -0.32153,-0.82265 0.06651,-1.1381 -1.342756,-1.32242 7.757995,-1.9805 17.591944,-0.11389 25.736571,4.33095 1.828108,1.00843 1.869378,-2.67839 2.128708,-5.79821 5.26732,0.90975 3.50595,4.72008 5.35753,2.24961 1.60017,3.32562 3.86042,8.32517 6.6055,15.18569 3.43844,8.59303 -3.16684,-37.40153 10.12545,26.08922 1.64085,7.83743 5.66206,-48.47874 5.32086,17.88898 -0.11457,22.2846 11.42428,34.87813 8.36531,57.75029 2.7314,-6.39954 5.05844,-13.22347 6.94166,-20.34054 2.18317,8.50127 3.72956,17.32818 2.30442,28.31215 3.23747,-7.81882 5.94439,-16.21305 8.05786,-24.98683 13.88628,-58.153 -0.71265,-119.94678 -32.60775,-138.02 -8.78024,-4.94941 -18.26895,-6.15812 -27.741915,-3.6469 1.58274,-5.39848 1.905926,-1.6843 7.369195,-4.52759 1.44523,-3.03071 2.51171,-0.95016 7.64331,2.68142 5.98565,4.24535 -6.49747,-25.64689 17.82175,7.98659 4.05336,6.55588 -2.55168,-24.76884 15.16696,19.49503 6.15005,16.06423 16.9601,8.08013 23.15061,26.11355 0.51425,-6.79294 1.12434,-10.00073 0.8208,-16.59045 4.66807,3.54206 6.87965,5.88441 10.28616,13.974 0.67475,-9.18774 0.6892,-18.29253 0.043,-27.1023 -2.62726,-34.82891 -15.35219,-62.20996 -34.00618,-73.17209 -11.38734,-6.69226 -24.27577,-6.82848 -36.97591,-0.3911 -14.200379,7.22623 -27.203329,22.16881 -37.071565,42.05979 -3.542252,5.8466 -5.330141,12.64821 -8.138833,19.58717 1.522323,-45.88616 -14.840601,-86.1288 -39.097434,-99.93093 -5.994633,-3.39532 -12.4002798,-3.93591 -18.6521117,-3.8983 z"
       					 />
</svg>
<style>
	svg {
		width: 85%;	
		box-shadow:.3vh .3vh .6vh var( --shadow );
	}
</style>
