<svelte:head>
	<title>M1sf3ts M4dh0u3e</title>

	<link rel='stylesheet' href='assets/css/colorTheme.css'>
</svelte:head>

<script>
	import { onMount, beforeUpdate } from 'svelte';
	import { Theme } from './_stores/theme.js';
	import { vertical, frame } from './_stores/props.js';

	import Frames from './_components/Frames.svelte';
	import Clock from './_components/Clock.svelte';
	import LightSwitch from './_components/LightSwitch.svelte';
	import Desk from './_components/Desk.svelte';

	let height;
	let width;

	onMount(()=>{
		frame.animate();
	});

	$: if( $frame === 1000 ){ 
		frame.setTo( 400 );
	};

	$: $vertical = !height ? null : height >= width ? true : false;

	</script>
<svelte:window bind:innerHeight="{ height }" bind:innerWidth="{ width }"/>
<main id='BackGround' class="{ $Theme }" >
	<div id="TopBorder"></div>
	<a id='Frames' href="gallery/">
		<Frames/>
	</a>
	<div id='Clock' >	
		<Clock/>
	</div>
	<button id='Switch_Dark' on:click="{ $Theme === 'dark' ? Theme.light() : Theme.dark() }">
		<LightSwitch />
	</button>
	<div id="Desk-Section" >
		<Desk/>
	</div>
</main>
<style>
	#BackGround {
		background: radial-gradient(circle farthest-side at 46% 33%, var(--main) 35%, var(--shadow) 136%);
		height: 100vh;
		width: 100vw;
		margin: 0;
		overflow: hidden;
	}
	#TopBorder {
		position:absolute;
		top:0;
		left:0;
		background: var( --secondary );
		height:7vh;width:100vw;
		box-shadow:0 0.01vh 1vh var(--shadow);
	}
	#Frames {
		position:absolute;
		top:10vh;
		left:5vw;
		height:83vh;
		width:58vw;
		display:flex;
		flex-direction:var( --imageDirection );
		justify-content:space-between;
		align-items: center;
	}
	#Clock {
		position:absolute;
		top:23vh;
		right:8vw;
		height: 25vh;
	}
	#Switch_Dark{
		position:absolute;
		top:55vh;
		right:2vw;	
		height:9vh;
		width:5vh;
		border:none;
		border-radius: 0;
	}
	#Desk-Section {
		position:absolute;
		bottom:0;
		right:0;
		z-index:10;
		height:28vh;
		width:78vw;
	}
	@media(max-aspect-ratio:1/1){
		.dark {
			--imageDirection: row;
		}
		#Desk-Section {
			width:	100vw;
		}
	}
</style>
