<script>
	import { Theme } from '../_stores/theme.js';
	import MenuBar from './_components/MenuBar.svelte';

	export let segment;

	let hidden = true;

</script>
<div id="Bg-Apps" class='{ $Theme }'>
<slot></slot>
{ #if segment !== 'games' }
	<div id="menuWrapper" on:mouseenter="{ ()=>hidden=false }" on:mouseleave="{ ()=>hidden=true }">
		{ #if !segment || !hidden }
			<MenuBar/>
		{/if}
	</div>
{ /if }
</div>
<style>
	#Bg-Apps {
		background:radial-gradient(var(--main) 35%, var(--shadow)); 
		height:100vh; 
		width:100vw
	}
	#menuWrapper{
		position: absolute;
		background: #00000033;
		bottom: 0;
		left: 30vw;
		height: 5vh;
		width: 40vw;
	}
</style>
