<svelte:head>
	<title>Gallery</title>

	<link rel='stylesheet' href='assets/css/colorTheme.css'>
</svelte:head>
<script>
	import { Theme } from '../_stores/theme.js';
	import { toggle } from './_stores/cues.js';

	let images = [ "neonGirl", "foxCheesin" ]
	
	$: if( $toggle === images.length ){ 
		 toggle.begin();
	} else if( $toggle === -1 ){ 
		toggle.end( images.length );
	};

</script>
<section class="{ $Theme }">
	<div 
		style="position:absolute;
			   top:0;left:0;
			   background:var( --secondary );
			   height:7vh;width:100vw;
			   box-shadow:0 0.01vh 1vh var( --shadow )"
			   				>
	</div>
	<button id="ToggleLeft" on:click="{ toggle.left }">
		<svg viewBox="0 0 100 100">
			<path
			   id="path817"
			   fill="var( --secondary )"
			   d="m 0,50 c 0,0 28.95,17.39 44,25 C 62,84 100,100 100,100 L 79,49 100,0 c 0,0 -37.8,15.8 -56,25 C 28.9,32.6 1.7,50 0,50 Z"
			   				 />

		</svg>
	</button>
	<div id="imageWrapper">
		<img  
		 	id="image"
			style="border:thick groove var( --alternative )"
			src="/M4dh0u3e/assets/images/{ images[ $toggle ] }.jpg" 
			alt="{ images[ $toggle ] }"
						/>
	</div>
	<button id="ToggleRight" on:click="{ toggle.right }">
		<svg viewBox="0 0 100 100">
			<path
			   id="path817"
			   fill="var( --secondary )"	
			   d="M 100,50 C 100,50 71,67 56,75 37,84 0,100 0,100 L 21,49 0,0 c 0,0 38,16 56,25 C 71,33 100,50 100,50 Z"
			   				 />
		</svg>
	</button>
	<div 
		style="position:absolute;
			   bottom:0;left:0;
			   background:var( --secondary );
			   height:7vh;
			   width:100vw;
			   box-shadow:0 0.01vh 1vh var( --shadow )"
			   				>
	</div>

</section>
<style>
	section {
		background: radial-gradient(var(--main) 35%, var(--shadow)); 
		display: flex;
		height: 100vh;
		justify-content:center;
		align-items: center;
	}
	button {
		height:10vh;
		background: none;
		border: none;
	}
	svg {
		height: 100%;
		width: 100%;
	}
	#image {
		display: block; 
		margin:auto;
		max-width:65vw;
		max-height:65vh;
	}
	#imageWrapper {
		width:80vw;
	}
	@media(max-aspect-ratio:1/1){
		#image {
			max-width: 70vw;
		}
		button {
			width:7vw;
			background: none;
			border: none;
		}
	}
</style>
