<script>
	export let height;
</script>
<svg viewbox="0 0 120 200" style="height:{ height }">
	<rect
		x= '0'
		y= '0'
		width='80'
		height='200'
		rx='9%'
		ry='3%'
		fill='var(--shadow)'
					/>
	<polygon
		points="60,100 90,60 90,140 60,100"
		fill="slategray"
				/>
	<rect 
		x= '80'
		y= '80'
		height='40'
		width='60'
		fill='slategray'
						/>
</svg>
