<script>
	export let height;
</script>
<svg viewbox="0 0 80 100" style="height:{ height }">
	<path
		id="base"
		fill='var( --shadow )'
		d="M 29,64.1 C 24,64 0.1,77.1 0,87.5 0,91.66 4,95 9,95 h 47 c 2.88,0 5.43,-1.12 7.07,-2.86 C 67.17,89.34 71.63,84.76 75,79.55 80.54,70.99 80.986,64.107 76,64.107 Z"
					/>
	<rect
		id="handle"
		fill='var( --shadow )'		
		width="15"
		height="65"
		x="30"
		y="15"
		rx="9"
		ry="9" 
						/>
	<ellipse
		id="knob"
		fill='var( --focal )'		
		cx="38"
		cy="20"
		rx="15"
		ry="15" 
						/>
	<path
		id="button"
		fill='var( --focal )'	
		d="m 58.84,72.5 c -3.4,0.38 -12,1.6 -10.3,6.6 -0.48,1.5 0.23,2.32 3.93,2.32 3.55,-0.45 11.29,-1.94 10.31,-5.625 C 63.38,73.75 62.54,72.5 58.8,72.5 Z"
						/>
</svg>
