body {
	margin: 0;
	padding: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #203;
	overflow: hidden;

}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

a:active {
	outline: none;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 96%;
	width: 96%;
}

