/*@media(min-aspect-ratio:13/6){
		#Left{
			margin-top: 27vh;
			height:53vh;
		}
		#Center{
			margin-top: 18vh;
			height:53vh;
		}
		#Right{
			margin-top: 9vh;
			height:53vh;
		}
	}
	@media(max-aspect-ratio:13/6){
		#Left{
			margin-top: 27vh;
			height:53vh;
		}
		#Center{
			margin-top: 18vh;
			height:53vh;
		}
		#Right{
			margin-top: 9vh;
			height:53vh;
		}
		
	}
	@media(max-aspect-ratio:16/9){
		#Left{
			margin-top: 27vh;
			height:53vh;
		}
		#Center{
			margin-top: 18vh;
			height:53vh;
		}
		#Right{
			margin-top: 9vh;
			height:53vh;
		}

	}
	@media(max-aspect-ratio:5/3){
		#Left{
			margin-top: 27vh;
			height:49vh;
		}
		#Center{
			margin-top: 18vh;
			height:49vh;
		}
		#Right{
			margin-top: 9vh;
			height:49vh;
		}

	}
	@media(max-aspect-ratio:3/2){
		#Left{
			margin-top: 25vh;
			height:48vh;
		}
		#Center{
			margin-top: 17vh;
			height:48vh;
		}
		#Right{
			margin-top: 9vh;
			height:48vh;
		}
	}
	@media(max-aspect-ratio:4/3){
		#Left{
			height:41vh;
			margin-top: 25vh;
		}
		#Right{
			height:41vh;
			margin-top: 11vh;
		}
	}
	@media(max-aspect-ratio:6/5){
		#Left{
			height:37vh;
			margin-top: 24vh;
		}
		#Center{
			height:37vh;
			margin-top: 18vh;
		}
		#Right{
			height:37vh;
			margin-top: 12vh;
		}
	}

/*vertical
	@media(max-aspect-ratio:1/1){
		#Center{
			margin-top: 10vh;
			height:48vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:3/4){
		#Center{
			margin-top: 8vh;
			height:50vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:2/3){
		#Center{
			margin-top: 9vh;
			height: 46vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:5/8){
		#Center{
			margin-top: 11vh;
			height:42vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:9/16){
		#Center{
			margin-top: 9vh;
			height:42vh;
			max-width: 40vw;
		}
	}
	@media(max-aspect-ratio:1/2){
		#Center{
			margin-top: 11vh;
			height:40vh;
			max-width: 40vw;
		}
	}
*/
