<script context="module">
	import { locations, weatherData } from './weather/temps.js';

	export async function preload(page, session) {
		const url = [
			"apps/widgets/api/weatherCityOne",
			"apps/widgets/api/weatherCityTwo",
			"apps/widgets/api/weatherCityThree",
		];

		const requestLocations = [ ];
		locations.subscribe( loc => loc.map( obj => requestLocations.push( obj )));
		
		const request = await Promise.all( requestLocations.map(({ city, state }, i )=>{
			return this.fetch( `${url[i]}?city=${city}` );
		}));
		
		const response = await Promise.all( request.map( city =>{ 
			return city.json();
		}));
		
		return weatherData.set( response );

	}
</script>
<svelte:head>

	<title>Widgets</title>

	<link rel='stylesheet' href='assets/css/colorTheme.css'>

</svelte:head>
<script>
	import Calculator from "./calculator/View.svelte"
	import Weather from "./weather/View.svelte"
	import { selected, position } from "./_stores/movement.js"
	import { Theme } from "../../_stores/theme.js"

	let view = {
		cal: true,
		wea: true,
	}
	
	let widgets = [ 
		{	
			id: 0,
			name: 'calculator',
			cood: { x: 100, y: 100, z: 1},
			z: 1,
		},
		{	
			id: 1,
			name: 'weather',
			cood: { x: 650, y: 100, z: 1 },
			z: 1,
		},
	];
	
	$: if( $selected.id > -1 && $position.x ){
		widgets[ $selected.id ].cood = $position;
	};
	
	let reset = () => { 
		selected.reset();
		widgets.map( obj => obj.cood.z = 1 );
	};	
</script>
<svelte:window on:mouseup="{ e => reset() }" on:mousemove="{ e => $selected.id > -1 ? position.move( e, $selected ) : position.reset() }"/>
<section class='{ $Theme }'>
	{ #if view.cal }
		<Calculator position="{ widgets[0].cood }" on:mousedown="{ e => selected.select( e, widgets[0] )}"/>
	{ /if }
	{ #if view.wea }
		<Weather position="{ widgets[1].cood }" on:mousedown="{ e => selected.select( e, widgets[1] )}"/>
	{ /if }
</section>
