<script>
	import { onMount } from 'svelte';
	import { Time } from '../_stores/props.js';

	 $: hours = $Time.getHours();
	 $: minutes = $Time.getMinutes();
	 $: seconds = $Time.getSeconds();
</script>
<svg viewBox='-50 -50 100 100'>
	<defs>
		<filter id="glare-clock">
			<feTurbulence 
				type="turbulence"
				baseFrequency="0.02"
				numOctaves="3" 
				result="turbulence"
								/>
			<feDisplacementMap 	
				in2="turbulence" 
				in="SouceGraphic" 
				scale="40" 
				xChannelSelector="R" 
				yChannelSelector="G"
									/>
		</filter>
		<filter id="shadow-clock">
			<feDropShadow 
				dx="-1" 
				dy="-1" 
				stdDeviation="0.5" 
				flood-color='var( --shadow )'
				flood-opacity="0.9"
									/>	
		</filter>
	</defs>
	<circle 
	 	cx='0'
	 	cy='0'
		r='48'
		fill='var( --alternative )'
		stroke='var( --secondary )'
	 	stroke-width='5'
		paint-order='stroke'
		opacity="0.69"
							/>
	<line 
		y1='5' 
		y2='-35' 
		transform='rotate({ 6*seconds })'
		stroke='var( --main )'
	 	stroke-linecap='round'
		stroke-width="1"
		opacity="0.56"
	 				/>
	<line 
		y1='2' 
		y2='-20' 
		transform='rotate({ 30*hours+minutes/2 })'
		stroke='var( --secondary )'
	 	stroke-linecap='round'
		stroke-width="3"
					/>
	<line 
	 	id='minute-hand' 
		y1='5' 
		y2='-30' 
		transform='rotate({ 6*minutes+seconds/10 })'
		stroke='var( --secondary )'
	 	stroke-linecap='round'
		stroke-width="2"
							/>
	 				
	<circle 
		id='clock-glass' 
	 	cx='0'
	 	cy='0'
		r='50'
		opacity='0.13'
		fill='var( --altenative )'
		filter="url( #shadow-clock )"
							/>
	<circle 
		id='clock-glare'
	 	cx='0'
	 	cy='0'
		r='39'
		filter='url( #glare-clock )'
		opacity='0.18'
				/>
</svg>
<style>
	svg {
		max-height: 100%;
		max-height: 100%;
		border-radius: 50% 50%;
		box-shadow:.2vh .2vh .2vh var( --shadow );
	}
</style>
