<script>
	import { vertical } from '../_stores/props.js';
	import MoonT from '../_assets/moonLanding/Top.svelte';
	import MoonC from '../_assets/moonLanding/Center.svelte';
	import MoonB from '../_assets/moonLanding/Bottom.svelte';
	import MoonV from '../_assets/moonLanding/Vertical.svelte';
</script>
{ #if $vertical }
	<figure class="portrait" href="gallery/">
		<MoonV/>
	</figure>
{ :else }
	<figure class='landscape'>
		<MoonT/>
	</figure>
	<figure class='landscape offset'>
		<MoonC/>
	</figure>
	<figure class='landscape'>
		<MoonB/>
	</figure>
{/if}
<style>
	.portrait {
		height:53vh;
	}
	.landscape{
		height: 23vh;
		flex:auto;
		margin-right:28vw;
	}
	.offset{
		margin:1vh 28vw;
	}
</style>
