<script>
	import { frame } from '../_stores/props.js';

	import Bg_Desk from '../_assets/svg/Desk.svelte';
	import Duck from '../_assets/svg/Duck.svelte';
	import Phone from './Phone.svelte';
	import LapTop from './LapTop.svelte';


	let hello = String( "Hello world" ).split("");	
	let click = [ String( "Feel free" ).split(""), String( "to click around" ).split("")];

	let display = ["$: ",""]
	let pause = hello.length*2+58; 

	$:	if( $frame <( hello.length*2 )){
			if( $frame%2===0 ){
					display[0] = display[0]+hello[( $frame/2 )];
			}	
		}else if( $frame === pause ){ 
			display[0] = String("$: ");
		}else if( $frame > pause && $frame <( click[0].length*2 + 82 )){
			if( $frame%2===0 ){
				display[0] = display[0]+click[0][(( $frame-82 )/2 )];
			}
		}else if( $frame > pause && $frame <( click[1].length*2 + 100 )){
			if( $frame%2===0 ){
				display[1] = display[1]+click[1][(( $frame-100 )/2 )];
			}
		}
</script>
<div id="Desk-Items">
	<a id="Phone"  href="mobile">
		<Phone/>
	</a>
	<div id="Duck" class="desk-items">
		<Duck/>
	</div>
	<a id='LapTop' class="desk-items" href="apps/" >
		<LapTop { display }/>
	</a>
</div>
<div id="Bg-Svg">
	<Bg_Desk/>
</div>
<style>
	#Desk-Items {
		max-height: 100%;
		width:63%;
		position:absolute;
		right:5vh;
		bottom:1vh;
		z-index:10;
		display:flex;
		justify-content: space-around;
	}
	#LapTop {
		flex: 3;
		max-height: 100%;
		max-width: 100%;
		margin-bottom: 2vh;
		perspective: 21vh;
	}
	#Duck {
		flex: 1;
		height: 11vh;
		max-width: 15%;
		perspective:21vh;
		margin-top: 9%;
		align-self: center;
	}
	#Phone {
		flex: 1;
		height: 10vh;
		perspective:21vh;
		align-self: end;
	}
	#Bg-Svg {
		position: absolute;
		right: 0;
		bottom: -10%;
		width: 100%;
		height: 76%;
		perspective:21vh;
	}
</style>

