<script>
	import { onDestroy } from 'svelte';
	import { frame } from '../../_stores/props.js';
	import { Theme } from '../../_stores/theme.js';
	import Home from '../_assets/iconHome.svelte';
	import Calculator from '../_assets/iconCal.svelte';
	import Game from '../_assets/iconGame.svelte';

	let heightSm = "10vh";

	let heightLg = "20vh";

	let hover = [ false, false, false ]

	let setLg = i =>{
		hover[ i ] = true;
	} 

	let setSm = i =>{
		hover[ i ] = false;
	}
</script>
<section id="MenuBar">
	<a 
		class="iconWrapper" 
		on:mouseenter="{ ()=> setLg(0) }" 
		on:mouseleave="{ ()=> setSm(0) }"
		href="/M4dh0u3e"
						>
		<Home height="{ hover[0] ? heightLg : heightSm }" />
	</a>
	<a 
		class="iconWrapper" 
		href="apps/widgets"
		on:mouseenter="{ ()=> setLg(1) }" 
		on:mouseleave="{ ()=> setSm(1) }"
						>
		<Calculator height="{ hover[1] ? heightLg : heightSm }" />
	</a>
	<a 
		class="iconWrapper" 
		on:mouseenter="{ ()=> setLg(2) }" 
		on:mouseleave="{ ()=> setSm(2) }"
		href="apps/games/"
								>
		<Game  height="{ hover[2] ? heightLg : heightSm }" />
	</a>
</section>
<style>
	#MenuBar{
		position: absolute;
		width: 40vw;
		bottom:3vh;
		left:0;
		z-index:10;
		justify-content:center;
	}	
	.iconWrapper{
		margin: 3vw;
	}
</style>
