<script>
	import { Theme } from '../_stores/theme.js';
</script>
<svelte:head>
	<title>Mobile</title>

	<link rel='stylesheet' href='assets/css/colorTheme.css'>
</svelte:head>
<section class="{ $Theme }" >
	<div id="screen" style="background:var( --shadow ); border: 3vh solid var(--secondary )">
	</div>
</section>
<style>
	section {
		display: flex;
		height: 100vh;
		width: 100vw;
		justify-content:center;
		align-items: center;
		background: radial-gradient(circle farthest-side at 46% 33%, var(--main) 35%, var(--shadow) 136%);
	}
	#screen {
		height: 85vh;
		width: 50vh;
		border-radius: 9vh;
	}
	@media(max-aspect-ratio:1/1){
		#screen {
			height: 94%;
			width: 100%;
			border-radius: 0;
		}
	}
</style>
