<script>
	export let position;

	let value = "0";
	let formerValue; 
	let operator = "";
	let calculated = true;
	let buttonRows = [
		[ "x", "/", "+", "-" ],
		[ "7", "8", "9" ],
		[ "4", "5", "6" ],
		[ "1", "2", "3"],
		[ ".", "0" ]
	]; 

	let inputNum = num =>{
		if( calculated ){ 
			num === "." ? value = "0." : value = num 
		} else {
			value != "0" ? value += num
				: num === "." ? value = "0."
				:  value = num 
		}
		calculated = false;
	}

	let inputOper= o =>{ 
		if( operator != "" ){ 
			calculate() 
			formerValue = value;
			operator = o;
		}else{
			operator = o;
			formerValue = value;
			value = "0";
		};
	};

	let calculate = ()=>{ 
		switch( operator ){
			case "+":
				value = ( Number( formerValue ) + Number( value )).toString();
				break;
			case "-":
				value = ( Number( formerValue ) - Number( value )).toString();
				break;
			case "x":
				value = ( Number( formerValue ) * Number( value )).toString();
				break;
			case "/":
				value = ( Number( formerValue ) / Number( value )).toString();
				break;
		}
		operator = "";
		calculated = true;
	};

	let clear = ()=>{ 
		if( value === "0" ){ 
			formerValue = "0";
			operator = "";
		} else {
			value = "0" 
		};
	};

	let inverse = ()=> Number( value )> 0 ? value = "-"+ value 
		: value === "0"? value
		: value = value.slice( 1 ); 

	let notate = ()=>{ 
		let rounded = Number( value.slice( 5, 1 ));
		if( Number( value )< 1 ){
			return "0" + value.slice( 0, 4 ) + rounded + "e" + value.slice( 5 ).length;
		} else {
			let newValue = value.slice(0, 1 ) + "." + value.slice( 1 );
			return newValue.slice( 0, 5 ) + rounded + "e" + newValue.slice( 5 ).length;
		}
	}
</script>
<svg viewbox="0 0 70 110" style="top:{ position.y }px; left:{ position.x }px; z-index:{ position.z };">
	<defs>
		<linearGradient id="inputView" x1="0" x2="0" y1="0" y2="1">
			<stop offset="0%" stop-color='var( --main )'/>
			<stop offset="50%" stop-color='var( --secondary )'/>
			<stop offset="100%" stop-color='var( --main )'/>		
		</linearGradient>

		<radialGradient id="funcButtonInset">
			<stop offset="35%" stop-color='var( --main )'/>
			<stop offset="100%" stop-color='var( --alternative )'/>
		</radialGradient>
		<radialGradient id="numButtonInset">
			<stop offset="41%" stop-color='var( --secondary )'/>
			<stop offset="100%" stop-color='var( --main )'/>
		</radialGradient>
	</defs>
	<rect
		x="0"
		y="0"
		width="70"
		height="108"
		rx="9"
		ry="9"
		fill='var( --alternative )'
		on:mousedown
					/>
	<rect
		x="5"
		y="8"
		width="60"
		height="12"
		rx="3"
		ry="3"
		fill='var( --secondary )'
					/>
	<rect
		x="5"
		y="8"
		width="60"
		height="12"
		rx="3"
		ry="3"
		fill="url( #inputView )"
		opacity="0.2"
					/>

	<text
		x="61.5"
		y="18"
		font-size="75%"
		fill='var( --main )'
		text-anchor="end"
					>
		{ value.length < 11 ? value : notate() }
	</text>
	{ #each buttonRows[0] as button, i }
		<rect
			x="{ 5+i*(12+4) }"
			y="25"
			width="12"
			height="12"
			rx="3"
			ry="3"
			fill='var( --main )'
			on:click="{ ()=> inputOper( button ) }"
						/>
		<rect
			x="{ 5+i*(12+4) }"
			y="25"
			width="12"
			height="12"
			rx="3"
			ry="3"
			fill="url( #funcButtonInset )"
			opacity=".3"
			pointer-events="none"

						/>
		<text 
			x="{ 11+i*(12+4) }" 
			y="34" 
			fill='var( --secondary )' 
			font-size="63%"
			text-anchor="middle"
			pointer-events="none"
						>
			{ button }
		</text>
	{ /each }
	{ #each buttonRows.slice(1) as buttons, i } 
		{ #each buttons as button, j } 
			<rect 
				x="{ 5+j*(12+4) }"
				y="{ 41+i*(12+4) }"
				width="12"
				height="12"
				rx="3"
				ry="3"
				fill='var( --secondary )'
				on:click="{ ()=> inputNum( button ) }"
							/>
			<rect 
				x="{ 5+j*(12+4) }"
				y="{ 41+i*(12+4) }"
				width="12"
				height="12"
				rx="3"
				ry="3"
				fill="url( #numButtonInset )"
				opacity="0.3"
				pointer-events="none"
							/>

			<text 
				x="{ 11+j*(12+4) }" 
				y="{ 51+i*(12+4) }" 
				fill='var( --main )' 
				font-size="63%"
				text-anchor="middle"
				pointer-events="none"
							>
				{ button }
			</text>
		{ /each }
	{ /each }
	<rect 
		x="37"
		y="89"
		width="12"
		height="12"
		rx="3"
		ry="3"
		fill='var( --secondary )'
		on:click='{ inverse }'
				/>
	<rect 
		x="37"
		y="89"
		width="12"
		height="12"
		rx="3"
		ry="3"
		fill="url( #numButtonInset )"
		opacity="0.3"
		pointer-events="none"
						/>

	<text 
		x="42.8" 
		y="97.8" 
		fill='var( --main )' 
		font-size="58%"
		text-anchor="middle"
		pointer-events="none"
					>
		+/-
	</text>
	<rect
		x="53"
		y="41"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill='var( --main )'
		on:click="{ clear }"	
					/>
	<rect
		x="53"
		y="41"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill="url( #funcButtonInset )"
		pointer-events="none"
		opacity="0.3"
					/>

	<text 
		x="59" 
		y="57" 
		fill='var( --secondary )' 
		font-size="48%" 
		text-anchor="middle"
		pointer-events="none"
						>
		{ value === "0"? "AC" : "C" }
	</text>
	<rect
		x="53"
		y="73"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill='var( --main )'
		on:click="{ calculate }"	
						/>
	<rect
		x="53"
		y="73"
		width="12"
		height="28"
		rx="3"
		ry="3"
		fill="url( #funcButtonInset )"
		pointer-events="none"
		opacity="0.3"
						/>

	<text 
		x="59" 
		y="90.5" 
		fill='var( --secondary )' 
		font-size="75%" 
		text-anchor="middle"
		pointer-events="none"
					>
		=
	</text>
</svg>
<style>
svg{ 
	position: absolute;
	height:65vh;
}
</style>
